html {
    margin:0;
    padding:0;
}

body {
    margin:0;
    padding:0;
}

h1 {
    text-align: center;
}

main {
    width: 100%;
}

#cardContainer {
    width: 310px;
    height: 210px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(21, 1fr);

}

.card {
    width: 70px;
    height: 110px;
    box-sizing: border-box;
    --s: 10px; /* control the size*/
    --c1: #b09f79;
    --c2: #476074;
    
    --_g: #0000 83%,var(--c1) 85% 99%,#0000 101%;
    background:
      radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
      radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
      radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
      radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
      var(--c2);
    background-size: calc(2*var(--s)) calc(2*var(--s));
    border: solid 1px gold;
    border-radius: 7%;
}


.card:hover {
    background-color: grey;
}

.disable-hover .card:hover {
    --s: 10px; /* control the size*/
    --c1: #b09f79;
    --c2: #476074;
    
    --_g: #0000 83%,var(--c1) 85% 99%,#0000 101%;
    background:
      radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
      radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
      radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
      radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
      var(--c2);
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

.card:active{
    background-color: darkgray;
}

#blankSpace {
    width: 500px;
    height: 50px;
}

#selectedCard {
    text-align: center;
    margin: 0 auto;
    width: 500px;
    height: 200px;
}

#selectedCard button{
    margin: 10px;
    
}

#doodle {
    width: 150px;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
}
